<li class="agent-card">
  <div class="agent-card-img-container">
    <img
      [src]="agent.fullPortrait"
      (loaded)="agentPortraitLoaded()"
      alt="Agent portrait"
    />
  </div>

  <div class="agent-description-container">
    <div>
      <div class="agent-name-and-icon">
        <strong>{{ agent.displayName }}</strong>
        <img
          [src]="agent.displayIcon"
          width="30"
          height="30"
          alt="Agent icon"
        />
      </div>
      <hr />
      <p>{{ agentDescriptionComputed() }}</p>
    </div>
    <span
      (mouseenter)="addDetailsBtnStyles('enter')"
      (mouseleave)="addDetailsBtnStyles('leave')"
      class="agent-details-btn"
      [routerLink]="'/search-agents/' + agent.uuid"
      #detailsBtn
      >Details</span
    >
  </div>
</li>
