<main class="main-container">
  <router-outlet></router-outlet>

  <footer class="footer">
    <small>
      Powered by
      <a href="https://valorant-api.com/" target="_blank"
        >Valorant API</a
      ></small
    >
    <small>
      Made by
      <a href="https://github.com/ElianArism" target="_blank"
        >Elian Arismendi</a
      >
    </small>
    <small>
      All rights reserved to
      <a href="https://playvalorant.com/" target="_blank">Riot Games</a></small
    >
  </footer>
</main>
