@import "../../../assets/styles/breakpoints.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-animation: animatedBG 30s ease infinite;
  -moz-animation: animatedBG 30s ease infinite;
  -o-animation: animatedBG 30s ease infinite;
  animation: animatedBG 30s ease infinite;
  background: #1d4350; /* fallback for old browsers */
  background: linear-gradient(to right, #a43931, #1d4350);
  background: -webkit-linear-gradient(
    to right,
    #a43931,
    #1d4350
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-size: 400% 400%;
  color: #f3f3f3;
  min-height: 100vh;
}

.agents-list-container {
  flex: 1;
}

.search-agents-container,
.footer {
  height: auto;
}

.search-agents-container {
  text-align: center;
  padding: 1rem;
  width: 50%;
  min-width: 400px;
  margin: 0 auto;

  & .main-title {
    font-family: "Valorant", "Open Sans", sans-serif;
    text-shadow: 1px 1px 5px #333;
  }

  & input {
    margin: 1rem 0;
    font-size: 18px;
    padding: 10px 0px 2px 0px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f3f3f3;
    outline: none;
  }

  & input,
  & input::placeholder {
    color: #f3f3f3;
  }

  @media screen and (max-width: $md) {
    min-width: auto;
    width: 100%;
  }
}

.agents-list-container {
  width: 100%;
  opacity: 0;

  & .agents-list {
    display: grid;
    margin: auto;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;

    @media screen and (max-width: $md) {
      grid-template-columns: 1fr 1fr;
      padding: 10px;
      gap: 10px;
    }
  }
}

.show-agents-list {
  animation: fadeIn ease 300ms forwards;
}

.footer {
  padding: 1.5rem 0px 1rem 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;

  & small a {
    color: #f3f3f3;
  }

  @media screen and (max-width: $md) {
    flex-direction: column;
    & small {
      margin: 10px 0;
    }
  }
}
