@import "../../../assets/styles/breakpoints.scss";

.container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.agents-list-container {
  flex: 1;
}

.search-agents-container,
.footer {
  height: auto;
}

.search-agents-container {
  text-align: center;
  padding: 1rem;
  width: 50%;
  min-width: 400px;
  margin: 0 auto;

  & .main-title {
    font-family: "Valorant", "Open Sans", sans-serif;
    text-shadow: 1px 1px 5px #333;
  }

  & input {
    margin: 1rem 0;
    font-size: 18px;
    padding: 10px 0px 2px 0px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f3f3f3;
    outline: none;
  }

  & input,
  & input::placeholder {
    color: #f3f3f3;
  }

  @media screen and (max-width: $xl) {
    min-width: auto;
    width: 100%;
  }
}

.agents-list-container {
  width: 100%;

  & .agents-list {
    opacity: 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    @media screen and (max-width: $xl) {
      grid-template-columns: 1fr 1fr;
      padding: 10px;
      gap: 10px;
    }
  }
}

.show-agents-list {
  animation: fadeIn ease 300ms forwards;
}

.agent-not-found-msg {
  font-family: "Valorant", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
}
