<main class="container">
  <div class="search-agents-container">
    <h1 class="main-title">Valorant Agents</h1>
    <input
      type="text"
      placeholder="search agents by name"
      (keyup)="filterAgents($event)"
    />
  </div>

  <section class="agents-list-container">
    <ul class="agents-list" [class.show-agents-list]="agentAssetsLoaded()">
      <ng-container *ngFor="let agent of agents()">
        <app-agent-card [agent]="agent" />
      </ng-container>
    </ul>
    <app-loading *ngIf="!agents().length && !agentAssetsLoaded()" />
    <p
      class="agent-not-found-msg"
      *ngIf="!agents().length && agentAssetsLoaded()"
    >
      Agent not found.
    </p>
  </section>
</main>
